<footer class="site-footer">

  <div class="wrapper" style="text-align:center;">

	    <div class="pure-menu pure-menu-open pure-menu-horizontal">
	      <ul>
	        <li><a href="/">Accueil</a></li>
			<li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">Flux RSS</a></li>
	        <li><a href="/about">À propos</a></li>
	        <li><a href="/contact">Contact</a></li>
	      </ul>
	    </div>

  </div>

  <div class="cc-license">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
	  <img alt="Licence Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
	</a>
	<br />
	L'ensemble des dessins de ce site est sous licence <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution -  Partage dans les Mêmes Conditions 4.0 International</a>.
  </div>

</footer>
