---
layout: default
---
<div class="pure-g" style="position:relative;vertical-align:middle;">

  <script>
	// make it clear this day is a sad day 
	document.onreadystatechange = function () {
      if (document.readyState == 'interactive') {
        document.body.style.background = 'black';
        document.getElementsByClassName('site-title-im')[0].src = '{{ site.url }}/images/charpi-glow.svg';
        document.getElementsByClassName('post-title')[0].style.color = '#828282';
        document.getElementsByClassName('post-meta')[0].style.color = '#4d4d4d';
        document.getElementsByClassName('pure-menu')[0].style.background = 'black';
        document.getElementsByClassName('site-footer')[0].style['border-top-color'] = '#171717';
      }
    }
  </script>

  <div class="pure-u-1">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%d/%m/%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </header>

    <article class="post-content">
	  <figure>
      <div style="position:relative;overflow:hidden;">

		{% unless page.next == nil %}
        <a class="post-nav nav-left" href="{{ page.next.url }}">
	      <div style="position:relative;top:50%;margin-top:-1em;">
            <span class="fa fa-chevron-circle-left fa-2x"></span>
          </div>
        </a>
        {% endunless %}
  
		<img class="pure-img post-img post-img-small" alt="" src="{{ site.url }}/images/{{ page.date | date: "%F" }}.{{ page.ext }}"/>
        
		{% unless page.previous == nil %}
        <a class="post-nav nav-right" href="{{ page.previous.url }}">
	      <div style="position:relative;top:50%;margin-top:-1em;">
            <span class="fa fa-chevron-circle-right fa-2x"></span>
	      </div>
        </a>
        {% endunless %}
      </div>
		<figcaption class="post-caption">{{ content }}</figcaption>
	
	  </figure>
    </article>
  </div>

</div>
